* {
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
  margin: 0 auto;
}

#gameover {
  display: none;
  margin: 0 auto;
}

body {
  margin: 0;
  overflow: hidden;
  background-image: url(../Ironhack-module1-project-game/img/home/001.png);
}

h1 {
  display: none;
}
